.contact .contact-content {
    margin: 80px auto 0 auto;
    text-align: center;
}

.contact .contact-content h1 {
    font-family: 'Roboto Slab', sans-serif;
    color: red;
}

.contact .contact-content .address-holder {
    font-family: 'Roboto Slab', sans-serif;
}

/*----------------------General Pages All--------------------------------------------*/
.grid_system div[class^="col"] {
    border: 1px solid white;
    background: #e4dcdc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px
}

.grid_system .row .col-sm-12 {
    background: url("../images/image02.jpg");
}

.page-footer {
    width: 100%;
    color: #09a7a1;
    background-color: black;
}

.col-sm-3 a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.col-sm-3 a:hover {
    background-color: #ccc;
}

.col-sm-3 a.active {
    background-color: #4CAF50;
    color: white;
}